<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="alert alert-primary" role="alert">
        You are creating the menu option
    </div>
    <div class="form-group row">
        <label for="inputMenuname" class="col-sm-2 col-form-label">Menu name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control is-valid" id="inputMenuname" placeholder="Menu name" required [formControl]="form.controls['name']">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">Is Parent</div>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="isParent" [formControl]="form.controls['isparent']" onclick="controller.disabled = this.checked,view.disabled = this.checked">
                <label class="form-check-label" for="gridCheck1">
                    Select this option if you're creating a principal menu option
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputMenuname" class="col-sm-2 col-form-label">Id Parent</label>
        <div class="col-sm-8">
            <input type="text" class="form-control is-valid" id="inputMenuparent" placeholder="Menu ID" required [formControl]="form.controls['parentid']">
        </div>
    </div>
    <div class="form-group row">
        <label for=inputMenuController class="col-sm-2 col-form-label">Menu Controller</label>
        <div class="col-sm-8">
            <input type="text" class="form-control is-valid" id="inputMenuController" name="controller" placeholder="Menu Controller" [formControl]="form.controls['controller']">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputMenuView" class="col-sm-2 col-form-label">Menu View</label>
        <div class="col-sm-8">
            <input type="text" class="form-control is-valid" id="inputMenuView" name="view" placeholder="Menu View" [formControl]="form.controls['view']">
        </div>
    </div>
    <div class="form-group">
        <label for="selectRoles">Select Roles</label>
        <select multiple="" class="form-control" id="selectRoles" [formControl]="form.controls['role']">
            <option *ngFor="let role of roles" value="{{role.IDENTIFICATION}}">{{role.NAME_}}</option>
        </select>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg" value="Submit">Create</button>
            <button type="reset" class="btn btn-dark btn-lg" value="Reset">Cancel</button>
        </div>
    </div>
</form>