<nav class="navbar custom-navbar navbar-light main-footer small">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="http://tecnosoftit.com" target="_blank">
        <span>Copyright &copy; {{year}}</span>
        <span class="ff-headers text-uppercase">TecnoSoft IT</span>. Todos los derechos reservados
      </a>
    </li>
  </ul>
  <ul class="navbar-nav hidden-xs-down">
    <li class="nav-item">
      <a class="nav-link" href="javascript:;">V. 1.0.0</a>
    </li>
  </ul>
</nav>