<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col">
            <label for="inputname4">First Name</label>
            <input type="text" class="form-control" id="inputname4" placeholder="First Name" required [formControl]="form.controls['name']">
        </div>
        <div class="col">
            <label for="inputPassword4">Password</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Password" required [formControl]="form.controls['password']">
        </div>
        <div class="col">
            <label for="inputCompany4">Company</label>
            <select id="inputCompany4" class="form-control" [formControl]="form.controls['company']">
                <option value="asdasd">Compañía prueba</option>
                <option *ngFor="let company of companies" [id]="company.IDENTIFICATION">{{company.NAME_}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="inputAddress">Email Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="mail@mail.com" required [formControl]="form.controls['email']">
        </div>
        <div class="col">
            <label for="inputState">Role</label>
            <select id="inputState" class="form-control" [formControl]="form.controls['role']">
                <option *ngFor="let role of roles" [id]="role.IDENTIFICATION">{{role.NAME_}}</option>
            </select>
        </div>
        <div class="col">
            <label for="inputBirthday">Birthday</label>
            <input type="date" class="form-control" id="inputBirthday" required [formControl]="form.controls['birthday']">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create user</button>
</form>