<div class="row">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="sm-jumbotron center-align">
                <h2>User Registration</h2>
            </div>
            <form class="col s12 white" #userRegistrationForm="ngForm">
                <div class="row">
                    <div class="input-field col s6">
                        <input class="validate" type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.Username" required>
                        <label data-error="Required Field!">UserName</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="Password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required minlength="3">
                        <label>Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="Email" #Email="ngModel" [(ngModel)]="user.Email">
                        <label>Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="FistName" #Password="ngModel" [(ngModel)]="user.FistName">
                        <label>FistName</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="Company" #Password="ngModel" [(ngModel)]="user.Company">
                        <label>Company</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn-large btn-submit" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>